@charset "utf-8";
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html{-ms-touch-action:none;overflow-x:hidden;}
header article section footer nav aside{display:block;}
body,p,ul,li,h3,figure{margin:0;padding:0;border:0;}
ul,li{list-style:none;}
h1,p,i,em,cite{font-weight:normal;font-style:normal;font-weight:normal;margin:0;padding:0;}
img{-ms-interpolation-mode:bicubic;}
img{max-width:100%!important;}
body{font:62.5%/1.5em 'Microsoft Yahei','Lucida Grande','Helvetica','Arail','Verdana','sans-serif';}
a{text-decoration:none;}
.appDown{height:6em;background-image:url(../images/app_alahbg.png); background-repeat:repeat-x; padding:0 1.9%; position:fixed; left:0; top:0; width:100%; z-index:1000;}
.qiche_logo{float:left;display:inline;padding-top:.5em}
.qiche_logo img{width:5em;height:5em;float:left;}
.logo_text{float:left;font-size:1.3em;margin-left:1em;line-height:1.6em;margin-top:.3077em}
.logo_text h3{font-weight:500;color:rgb(255,255,255)}
.logo_text p{color:rgb(230,0,18)}
.appClose,.appXiaz{float:right;display:inline}
.appClose,.appXiaz{display:inline-block;height:100%;}
.appClose{background:url(../images/appClose.png) no-repeat 0 50% / contain;width:2.8em;margin:0 0 0 1.3em;}
.appXiaz{background:rgb(230,0,18);width:6.25em;line-height:2em;height:auto;margin-top:1.13em;color:rgb(254,254,254);text-align:center;border-radius:2px;-o-border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;font-size:1.4em;}
.share_cont{background:rgb(237,237,237)!important;width:100%;padding:1em 0;margin-bottom:3.07em}
.xqCont{font-size:1.4em;padding:0 1.143em}
.xqBox{width:100%;}
.xqCont h1{color:rgb(45,45,45);font-size:1.286em;line-height:1.857em;margin:0 0 .4143em;}
.xqCont h3{color:rgb(146,146,146);line-height:100%;font-weight:500;}
.xqCont h3 span{margin-left:3.125%;}
.zMain{margin-top:1.07em;font-size:1.071em;}
.testdiv{margin:.67em 0 1em;text-align:center;}
.zMain p{color:#494445;margin-top:15px;line-height:150%;}
.label_cont{margin:1.43em 0 .7143em;display:table}

.label_ico{background:url(../images/label_ico.png) no-repeat scroll 0 50% / cover;width:2.5em;height:2.5em;display:inline-block;float:left;}

.label_cont em{display:inline-block;background:rgb(247,247,247);border:solid 1px rgb(161,161,161);border-radius:2px;-o-border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;height:2em;margin-top:.25em;margin-left:0.7em;min-width:2.43em;line-height:2em;padding:0 .36em;color:rgb(230,0,18)}
.expand_bg{float:right;display:inline-block;background:rgb(18,96,149);color:rgb(255,255,255);line-height:1.42em;padding:0 .36em;border-radius:2px;-o-border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
.related_link{display:table;width:100%;}
.related_line{background:rgb(225,225,225);height:3px;text-align:center;}
.related_line strong{background:rgb(237,237,237);position:relative;top:-.5em;padding:0 .5em;color:rgb(89,87,87)}
.related_cont{overflow:hidden;margin:.5em 0;}
.related_cont li{line-height:1.36em;}
.related_cont li a{color:rgb(89,87,87);width:100%;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;-moz-text-overflow:ellipsis;-webkit-text-overflow:ellipsis;overflow:hidden;padding-top:.5em;display:block;}
.comment_cont{margin-top:.7143em;background:rgb(255,255,255);}
.comment_cont ul{overflow:hidden;font-size:1.4em;padding:0 1.143em}
.comment_cont li{padding:1.43em 0;border-bottom:solid 1px rgb(225,225,225);display:table;width:100%}
.comment_cont li:last-child{border-bottom:none;}
.comment_cont img{width:3.36em;height:3.36em;}
.comment_user{float:left;}
.comment_subjet{padding-left:4.07em;}
.comment_subjet cite{color:rgb(230,0,18);font-size:.93em;overflow:hidden;display:block;line-height:2.23em;}
.comment_subjet span{float:right;font-size:1.39em;line-height:1.21em;}
.comment_subjet i{float:right;display:block;width:2.3em;height:2em;line-height:1.6em;cursor:pointer;font-size:.72em;margin-left:.5em;}
.comment_subjet .ico_collect_on i{background:url(../images/ico_collect_on.png) no-repeat scroll 100% 0 / cover;}
.comment_subjet span.ico_collect_off{color:rgb(146,146,146)}
.comment_subjet .ico_collect_off i{background:url(../images/ico_collect_off.png) no-repeat scroll 100% 0 / cover;}
.comment_subjet p{color:rgb(45,45,45);margin-bottom:.7143em;line-height:150%;}
.comment_subjet time{color:rgb(146,146,146)}
.comment_subjet mark{background:none;color:rgb(230,0,18);margin:0 .143em}
.check_more{line-height:2.5em;text-align:center;font-size:1.4em;background:rgb(248,248,248)}
.check_more a{color:rgb(146,146,146)}
.publish_cont{position:fixed;bottom:0;left:0;width:100%;font-size:1.4em;background:rgb(237,237,237);padding:.5em 1.143em;height:3.07em}
.publish_cont input[type="text"]{width:76%;height:2.07em;border:solid 2px rgb(228,228,228);border-radius:2px;-o-border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;font-size:1em;float:left;display:inline}
.publish_cont span{float:right;color:rgb(146,146,146);display:inline-block;margin-top:.17em;line-height:1.64em;}
.ico_comment{background:url(../images/ico_comment.png) no-repeat scroll 0 0 / contain;display:inline-block;width:1.64em;height:1.64em;vertical-align:middle;margin-right:.5em;}